[run]
source =
    funky
    scripts
include =
    scripts/post_install.py
    scripts/shell/funky.sh
branch = true
omit =
    funky/__main__.py
    */__init__.py

[report]
exclude_lines =
    if __name__ == ["']__main__["']:
    pragma: no cover
