[run]
source = funky
branch = true
omit =
    funky/__main__.py
    */__init__.py

[report]
include =
    scripts/post_install.py
    scripts/shell/funky.sh
exclude_lines =
    if __name__ == ["']__main__["']:
