[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

future = "*"
pygments = "==2.2.0"
six = "*"


[dev-packages]

coverage = "*"
codecov = "*"
mock = "*"
pytest = "*"
pytest-cov = "*"
